<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookies</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static '/css/navBar.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/css/landing.css' %}" media="all">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static '/css/animation.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/image/FMW logo.svg' %}">
    <style>
        body {
            background-color: #F0F2F9;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    <h1 class="text-center pt-5">Terms Policy</h1>
    <p class="text-center text-muted">Effective on January 1, 2023</p>
    <div class="row d-flex justify-content-center pt-5">
        <div class="col-md-8">
            <div class="card" style="border-radius: 1rem;box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;">
                <div class="card-body" style="padding: 5rem 5rem;">
                    <h5 class="pt-4 pb-3">CLASSIFIED JOB LISTING (SINGLE)</h5>
                      <ol>
                          <li>Findmyworks will allow the Subscriber/Recruiter to place the information only in the classified section of the site Findmyworks.
                          </li>
                          <li>The insertion so displayed in the classified section of Findmyworks will be for a period of maximum 30 days, which period is subject to change without notice.
                          </li>
                          <li>Findmyworks reserves its right to reject any insertion or information/data provided by the user without assigning any reason. In such an eventuality, any amount so paid for, shall be refunded to the user on a pro-rata basis.
                          </li>
                          <li>Findmyworks has the right to make all such modifications/editing of the vacancy details in order to fit in the database.</li>
                          <li>The Subscriber/Recruiter may use up to a maximum of 2 email id's for vacancies posted on Findmyworks in the Classified section to collect response.</li>
                          <li>Findmyworks may at its sole discretion include the vacancy intimated by client for display on Findmyworks in the print media through various media alliances in other print vehicles with no extra costs to the client. However, if a client wishes not to have its vacancies/requirement from appearing in print media, then the client shall specifically inform  Findmyworks in writing accordingly at the time of intimating of the vacancy.</li>
                          <li>Findmyworks offers no guarantee nor warranty that there would be a satisfactory response or any response once the job is put on display.</li>
                          <li>Findmyworks shall in no way be held liable for any information provided by the applicant to the subscriber and it shall be the sole responsibility of the user to check, authenticate and verify the information/response received at its own cost and expense.</li>
                          <li>Findmyworks would not be held liable for any loss of data, technical or otherwise, information, particulars supplied by the customers, due the reasons beyond its control like corruption of data or delay or failure to perform as a result of any causes or conditions that are beyond Findmyworks reasonable control including but not limited to strike, riots, civil unrest, Govt. policies, tampering of data by unauthorized persons like hackers, war and natural calamities.</li>
                          <li>The subscriber/Recruiter must give an undertaking to Findmyworks that the jobs sought to be advertised on the classified section of Findmyworks are in existence, are genuine and that the subscriber has the authority to list the jobs.</li>
                          <li>The subscriber/Recruiter must give an undertaking to Findmyworks that there will be no fee charged from an applicant who responds to jobs advertised on the classified section of Findmyworks for processing of the application.</li>
                          <li>Findmyworks reserves its right to change the look, feel, design, prominence, depiction, classification of the classified section of Findmyworks at any time without assigning any reason and without giving any notice.</li>
                      </ol>

                      <h5 class="pt-4 pb-3">CLASSIFIED SUBSCRIPTIONS FOR VARIOUS PERIOD</h5>

                      <ol>
                        <li>Findmyworks will allow the Subscriber/Recruiter to place the information only in the classified section of the site Findmyworks.</li>
                        <li>Each insertion so displayed in the classified section of Findmyworks shall be for a period of 30 days, which period is subject to change without notice.</li>
                        <li>Findmyworks reserves its right to reject any insertion or information/data provided by the user without assigning any reason. On such an eventuality, any amount so paid for, shall be refunded to the user on a pro-rata basis.</li>
                        <li>Findmyworks has the right to make all such modifications/editing of the vacancy details in order to fit in the database</li>
                        <li>The Subscriber/Recruiter may use up to a maximum of 2 email id's for vacancies posted on Findmyworks in the Classified section to collect response.</li>
                        <li>Findmyworks may at its sole discretion include the vacancy intimated by client for display on Findmyworks in the print media through various media alliances in other print vehicles with no extra costs to the client. However, if a client wishes not to have its vacancies/requirement from appearing in print media, then the client shall specifically inform Findmyworks in writing accordingly at the time of intimating of the vacancy.</li>
                        <li>Findmyworks offers no guarantee nor warranties that there would be a satisfactory response or any response once the job is put on display.</li>
                        <li>Findmyworks shall in no way be held liable for any information provided by the applicant to the subscriber and it shall be the sole responsibility of the subscriber to check, authenticate and verify the information/response received at its own cost and expense.</li>
                        <li>Findmyworks would not be held liable for loss of any data technical or otherwise, information, particulars supplied by the customers due to the reasons beyond its control like corruption of data or delay or failure to perform as a result of any causes or conditions that are beyond Findmyworks reasonable control including but not limited to strike, riots, civil unrest, Govt. policies, tampering of data by unauthorized persons like hackers, war and natural calamities.</li>
                        <li>The subscriber/Recruiter must give an undertaking to Findmyworks that the jobs sought to be advertised on the classified section of Findmyworks are in existence, are genuine and that the subscriber has the authority to list the jobs.</li>
                        <li>The subscriber/Recruiter must give an undertaking to Findmyworks that there will be no fee charged from an applicant who responds to jobs advertised on the classified section of Findmyworks for processing of the application.</li>
                        <li>Findmyworks reserves its right to change the look, feel, design, prominence, depiction, classification of the classified section of Findmyworks at any time without assigning any reason and without giving any notice.</li>
                        <li>The subscriber to this service shall be entitled to unlimited listings during the period of subscription.</li>
                        <li>This service is neither resaleable nor transferable by the subscriber to any other person, corporate body, firm or individual.</li>
                        <li>Only one office of one corporate entity / firm will be entitled to use this service and in case other offices of the same company/ associated companies, want to use the said service, then, they shall be liable to make extra payment for the service.</li>
                        <li>The contact information given by the subscriber for all listings should be the same and the subscriber cannot give multiple contact information/data for the purpose of listing.</li>
                        <li>Only insertions with contact information registered with Findmyworks will be displayed on the site</li>
                      </ol>

                      <h5 class="pt-4 pb-3">JOB (SINGLE)</h5>
                      <ol>
                      <li>Findmyworks shall place the information relating to vacancies in the Jobs & Classified sections of Findmyworks.</li>
                      <li>The insertion so displayed at Findmyworks shall be for a period of 30 days, which period is subject to change without notice.</li>
                      <li>Findmyworks has the right to make all such modifications/editing of the vacancy details in order to fit in the database.</li>
                      <li>Findmyworks reserves its right to reject any insertion or information/data provided by the user without assigning any reason. In such an eventuality, any amount so paid for, shall be refunded to the user on a pro-rata basis.</li>
                      <li>Findmyworks may at its sole discretion include the vacancy intimated by client for display on Findmyworks in the print media through various media alliances in other print vehicles with no extra costs to the client. However, if a client wishes not to have its vacancies/requirement from appearing in print media, then the client shall specifically inform Findmyworks in writing accordingly at the time of intimating of the vacancy.</li>
                      <li>Findmyworks offers no guarantee nor warranties that there would be a satisfactory response or any response once the job vacancy is put on display.</li>
                      <li>Findmyworks shall in no way be held liable for any information provided by applicant(s) to the subscriber and it shall be the sole responsibility of the subscriber to check, authenticate and verify the information/response received at its own cost and expense.</li>
                      <li>Findmyworks would not be held liable for any loss of data technical or otherwise, information, particulars supplied by the customers due to the reasons beyond its control like corruption of data or delay or failure to perform as a result of any causes or conditions that are beyond Findmyworks reasonable control including but not limited to strike, riots, civil unrest, Govt. policies, tampering of data by unauthorized persons like hackers, war and natural calamities.</li>
                      <li>The subscriber/Recruiter must give an undertaking to Findmyworks that the jobs sought to be advertised on the `Jobs' and `Classified' sections of Findmyworks are in existence, genuine and the subscriber has the authority to list the jobs.</li>
                      <li>The subscriber/Recruiter must give an undertaking to Findmyworks that there will be no fee charged from an applicant who responds to jobs advertised on the 'Jobs' and 'Classified' sections of www.findmyworks.com for processing of the application.</li>
                      <li>Findmyworks reserves its right to change the look, feel, design, prominence, depiction, classification of the ' Jobs' and `Classified' sections of Findmyworks at any time without assigning any reason and without giving any notice.</li>
                      </ol>

                      <h5 class="pt-4 pb-3">MANUAL SHORTLISTING</h5>
                      <ol>
                      <li>Findmyworks agrees to provide the service to the subscriber only for the duration and the number of vacancies contracted for, to the best of its ability.</li>
                      <li>Findmyworks will receive, open, read and sort all resumes received in response to the vacancies for which the service is offered.</li>
                      <li>Sorting shall be done using the parameters for selection decided by the subscriber.</li>
                      <li>Findmyworks would not be held liable for any loss of data technical or otherwise, information, particulars supplied by the customers due to the reasons beyond its control like corruption of data or delay or failure to perform as a result of any causes or conditions that are beyond Findmyworks reasonable control including but not limited to strike, riots, civil unrest, Govt. policies, tampering of data by unauthorized persons like hackers, war and natural calamities.</li>
                      <li>It is made clear that the subscriber being one corporate/business entity, cannot transfer/sell/sublet the micro site or any part thereof to any third party.</li>
                      </ol>

                      <h5 class="pt-4 pb-3">DISPLAY OF BANNERS</h5>
                      <ol>
                      <li>Findmyworks agrees to provide the service to the subscriber only for the duration or the number of impressions contracted for, to the best of its ability.</li>
                      <li>Findmyworks will display banners on the homepage on a rotation basis, wherein banners from different subscribers are displayed in a sequential manner, managed by a smart software.</li>
                      <li>In case of "Run of the Web site" deals, Findmyworks reserves the right to choose the sections where the banners of a subscriber is to be displayed, at any point in time, during the period of the contract.</li>
                      <li>Findmyworks reserves its right to reject any insertion or information/data provided by the user without assigning any reason. In such an eventuality, any amount so paid for, shall be refunded to the user on a pro-rata basis.</li>
                      <li>Findmyworks offers no guarantee nor warranties that there would be a satisfactory response or any response once the banners are put on display.</li>
                      <li>Findmyworks would not be held liable for any loss of data technical or otherwise, information, particulars supplied by the customers due to the reasons beyond its control like corruption of data or delay or failure to perform as a result of any causes or conditions that are beyond Findmyworks reasonable control including but not limited to strike, riots, civil unrest, Govt. policies, tampering of data by unauthorized persons like hackers, war and natural calamities.</li>
                      <li>It is made clear that the subscriber being one corporate/business entity, cannot transfer/sell/sublet the micro site or any part thereof to any third party.</li>
                      </ol>

                      <h5 class="pt-4 pb-3">SMS Services</h5>
                      <ol>
                      <li>"SMS Service" is to contact the potential candidates directly to make the recruitment process simple, effortless and instantaneous not for other purposes.</li>
                      <li>Employer/Recruiter can send the applicants only the information regarding written test, interview etc. or any other necessary information via Findmyworks system.</li>
                      <li>This service can not be used for any kind of marketing purpose by the employers.</li>
                      <li>This service can not be used against FindmyworksTerms and Conditions.</li>
                      <li>If your company is not verified, you can not avail "SMS Service".</li>
                      <li>This service is neither resaleable nor transferable by the subscriber to any other person, corporate body, firm or individual.</li>
                      </ol>

                      <h5 class="pt-4 pb-3">App Permission</h5>
                      <ol>
                      <li>Findmyworks App needs certain permissions to run on Android and requires access to certain systems within your device. Apps can save personal data for users. A common reason for storage permissions is that these data will help users to get personalized App experience.</li>
                      </ol>

                      <h5 class="pt-4 pb-3">Warning</h5>
                      <ol>
                      <li>Findmyworks works as an online job portal of communication between employers and job-seekers. Findmyworks.com is not liable on account of any kind of financial transaction between the employers and job-seekers.</li>
                      <li>Any job description published in www.findmyworks.com website is provided by the employers. Individual Organizations are responsible for any type of job description or recruitment process published by www.findmyworks.com Website.</li>
                      <li>Users are expressly prohibited from involving with any kind of financial dealing. If the job-seekers provides/discloses any financial information such as Credit/Debit card number, personal bank account, online payment information and if anyone makes arrangements via money order, wire transfer, international funds transfer, electronic currency etc. Findmyworks will not be responsible regarding these sort of transaction issues.</li>
                      <li>Findmyworks is not accountable for any kind of fraud by the recruiting company after applying through the website as well as transferring money or retaining a portion in the name of payment for security charge to the employers.</li>
                      <li>Findmyworks will not be liable on account of any irregularity, incomplete information, inaccuracy of information provided by the employers on this website. It is the responsibility for the job-seeker doing further research regarding the information given on the site.</li>
                      </ol>

                </div>
            </div>
        </div>
    </div>
    {% include 'footer/footer.html' %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
    duration: 1200,
    easing: 'ease-in-out',
    offset: 100
});
</script>
</body>
</html>
