<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/navBar.css' %}" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/talent.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/css/project.css' %}" media="all">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Find Project</title>
    <link rel="icon" type="image/x-icon" href="{% static '/image/FMW logo.svg' %}">
    <style>
        *::selection {
            background: #ff9344;
        }
    </style>
</head>

<body>
{% include 'navbar.html' %}
<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <!-- Filter Area -->
        <div class="col-md-2">
            <p class="find-header">Projects</p>
            <p class="filter-by">Filter by</p>
            <hr>
            <!-- Catagory Filter -->
            <button type="button" class="collapsible" id="Category_filter"
                    onclick="show_filter_3('Category_filter');">Category<i
                    class="bi bi-chevron-right nav-icon-margin"></i></button>
            <ul class="filter-content" id="Category_filter_content" style="display: none;">
                <li class="filter-content-list" id="filter_1" onclick="filter_add(this.id)">All category</li>
                <li class="filter-content-list" id="filter_2" onclick="filter_add(this.id)">Mobile Apps</li>
                <li class="filter-content-list" id="filter_3" onclick="filter_add(this.id)">Web Programming</li>
                <li class="filter-content-list" id="filter_4" onclick="filter_add(this.id)">Ecommerce</li>
                <li class="filter-content-list" id="filter_5" onclick="filter_add(this.id)">Design
                </li>
                <li class="filter-content-list" id="filter_6" onclick="filter_add(this.id)">Django</li>
                <li class="filter-content-list" id="filter_7" onclick="filter_add(this.id)">WordPress</li>
                <li class="filter-content-list" id="filter_8" onclick="filter_add(this.id)">Web & Mobile Design</li>
                <li class="filter-content-list" id="filter_9" onclick="filter_add(this.id)">Website Builders & CMS
                </li>
                <li class="filter-content-list" id="filter_10" onclick="filter_add(this.id)">Game Design</li>
                <li class="filter-content-list" id="filter_11" onclick="filter_add(this.id)">SEO</li>
            </ul>
            <br>
            <hr>

            <!-- Location Filter -->
            {#            <button type="button" class="collapsible" id="Category_filter_1"#}
            {#                    onclick="show_filter('Category_filter_1');">Location<i#}
            {#                    class="bi bi-chevron-right nav-icon-margin"></i></button>#}
            {#            <br>#}
            {#            <input type="text" class="form-control filter-location" id="filter_location" style="display: none;"#}
            {#                   placeholder="Dhaka">#}
            {#            <hr>#}

            <!-- Fund Filter -->
            <button type="button" class="collapsible" id="Category_filter_2"
                    onclick="show_filter_1('Category_filter_2');">Expected fund<i
                    class="bi bi-chevron-right nav-icon-margin"></i></button>
            <br>

            <div class="row m-0" id="Category_filter_fund" style="display: none;">
                <p class="filter-sub-header">Select Range</p>
                <div class="col-md-6 p-1">
                    <label class="form-label label">Min.</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input id="fund_1" type="text" class="form-control my-form" placeholder="10" value="{% if not fund_1 == ' ' %}{{ fund_1 }}{% else %}{% endif %}">
                    </div>
                </div>
                <div class="col-md-6 p-1">
                    <label class="form-label label">Max.</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input id="fund_2" type="text" class="form-control my-form" placeholder="1000" value="{% if not fund_2 == ' ' %}{{ fund_2 }}{% else %}{% endif %}">
                    </div>
                </div>
            </div>
            <hr>

            <!-- Timeframe Filter -->
            <button type="button" class="collapsible" id="Category_filter_3"
                    onclick="show_filter_1('Category_filter_content_1');">Timeframe<i
                    class="bi bi-chevron-right nav-icon-margin"></i></button>
            <br>
            <ul class="filter-content" id="Category_filter_content_1" style="display: none;">
                {#                    <li class="filter-content-list" id="filter_12" onclick="filter_add(this.id)">Any time</li>#}
                {#                    <li class="filter-content-list" id="filter_13" onclick="filter_add(this.id)">Immediately</li>#}
                {#                    <li class="filter-content-list" id="filter_14" onclick="filter_add(this.id)">In 7 days</li>#}
                {#                    <li class="filter-content-list" id="filter_15" onclick="filter_add(this.id)">In 15 days</li>#}
                {#                    <li class="filter-content-list" id="filter_16" onclick="filter_add(this.id)">Within a month</li>#}
                <div class="row d-flex justify-content-evenly">
                    <div class="col-md-11">
                        <label for="project_date_1">From Date</label>
                        <input id="project_date_1" class="form-control" type="date" value="{% if not date_1 == ' ' %}{{ date_1 }}{% else %}{% endif %}">
                    </div>
                    <div class="col-md-11">
                        <label for="project_date_2">To Date</label>
                        <input id="project_date_2" class="form-control" type="date"value="{% if not date_2 == ' ' %}{{ date_2 }}{% else %}{% endif %}">
                    </div>
                </div>
            </ul>
            <hr>

            <!-- Project Filter -->
            {#            <button type="button" class="collapsible" id="Category_filter_4"#}
            {#                    onclick="show_filter_1('Category_filter_project');">Project details<i#}
            {#                    class="bi bi-chevron-right nav-icon-margin"></i></button>#}
            {#            <br>#}
            {#            <div class="row m-0" id="Category_filter_project" style="display: none;">#}
            {#                <p class="filter-sub-header">Rating</p>#}
            {#                <div class="col-md-12">#}
            {#                    <!-- Ratting Start -->#}
            {#                    <div class="stars">#}
            {#                        <label class="rate">#}
            {#                            <input type="radio" name="radio1" id="star1" value="star1">#}
            {#                            <i class="far fa-star star one-star"></i>#}
            {#                        </label>#}
            {#                        <label class="rate">#}
            {#                            <input type="radio" name="radio1" id="star2" value="star2">#}
            {#                            <i class="far fa-star star two-star"></i>#}
            {#                        </label>#}
            {#                        <label class="rate">#}
            {#                            <input type="radio" name="radio1" id="star3" value="star3">#}
            {#                            <i class="far fa-star star three-star"></i>#}
            {#                        </label>#}
            {#                        <label class="rate">#}
            {#                            <input type="radio" name="radio1" id="star4" value="star4">#}
            {#                            <i class="far fa-star star four-star"></i>#}
            {#                        </label>#}
            {#                        <label class="rate">#}
            {#                            <input type="radio" name="radio1" id="star5" value="star5">#}
            {#                            <i class="far fa-star star five-star"></i>#}
            {#                        </label>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <!-- Ratting End -->#}
            {#                <p class="filter-sub-header" style="margin-top: -1rem;">Project quality</p>#}
            {#                <ul class="filter-content" id="Category_filter_content_1">#}
            {#                    <li class="filter-content-list" id="filter_17" onclick="filter_add(this.id)">Top appreciation</li>#}
            {#                    <li class="filter-content-list" id="filter_18" onclick="filter_add(this.id)">Moderate appreciation#}
            {#                    </li>#}
            {#                    <li class="filter-content-list" id="filter_19" onclick="filter_add(this.id)">Recent appreciation#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </div>#}
            {#            <hr>#}
            <button type="button" class="btn hire-btn float-end" style="margin:1rem 1rem 0 0"
                    onclick="project_filter_apply();">Apply
            </button>
        </div>
        <!-- Filter Area End -->
        <!-- User Projects Card  -->
        <div class="col-md-7">
            <div class="input-group">
                <input id="project-search-box" type="text" class="form-control top-search-form"
                       placeholder="Find by title" style="cursor: default" value="{% if not search == ' ' %}{{ search }}{% else %}{% endif %}">
                <button style="z-index: 5" class="btn top-close-icon" type="button"
                        onclick="document.getElementById('project-search-box').value='';"><i class="bi bi-x-circle"></i>
                </button>
                <button class="btn top-search-icon" type="button" onclick="search_project();"><i
                        class="bi bi-search"></i></button>
            </div>
            <!-- Filter -->
            <ul id="filter-area" class="filter-style"></ul>
            <p class="mb-3 clear-filter">
                <a href="#" class="clr-btn-style"
                   onclick="clear_filter();">clear filter</a>
            </p><br>
            <div style="padding: 0 0.75rem;">
                {% include 'project/project_content.html' %}
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script class="jsbin" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="{% static '/js/search_filter.js' %}"></script>
<script>
    function search_project() {
        let search_value = document.getElementById('project-search-box').value;
        if (search_value == '') {
            search_value = '%20';
        }
        location.href = "https://www.findmyworks.com/find-project/" + search_value + "/%20/%20/2023-01-01/2024-01-30/%20/";
    }

    function clear_filter() {
        document.getElementById('filter-area').innerHTML = '';
        location.href = "https://www.findmyworks.com/find-project/%20/%20/%20/2023-01-01/2024-01-30/%20/";
    }

    function project_filter_apply() {
        let temp_1 = document.getElementById('filter-area').innerHTML;
        let temp_2 = temp_1.replace('<li>', '');
        let catagory = temp_2.replace('</li>', '');

        let fund_1 = document.getElementById('fund_1').value;
        let fund_2 = document.getElementById('fund_2').value;

        let date_1 = document.getElementById('project_date_1').value;
        let date_2 = document.getElementById('project_date_2').value;

        if (catagory == '') {
            catagory = '%20';
        }
        if (fund_1 == '') {
            fund_1 = '0';
        }
        if (fund_2 == '') {
            fund_2 = '1000000';
        }
        if (date_1 == '') {
            date_1 = '2023-01-01';
        }
        if (date_2 == '') {
            date_2 = '2024-01-30';
        }
        location.href = "https://www.findmyworks.com/find-project/%20/" + fund_1 + '/' + fund_2 + '/' + date_1 + '/' + date_2 + '/' + catagory + '/';
    }
</script>
</body>

</html>
