{% load static %}
{#<div class="container-fluid" style="padding: 5rem 0;">#}
{#    <div data-aos="zoom-in">#}
{#        <h3 class="text-center text-header-1">Effortlessly create a polished and effective resume with<br>minimal steps#}
{#        </h3>#}
{#    </div>#}
{#    <div class="row d-flex justify-content-center" style="margin-top: 5rem;">#}
{#        <div class="offset-md-1 col-md-4 d-flex align-items-center" data-aos="zoom-in">#}
{#            <img src="{% static '/image/home/landing_image_2.svg' %}" width="80%" height="auto">#}
{#        </div>#}
{#        <div class="col-md-5">#}
{#            <ul id="li-animation" style="list-style-type: none;">#}
{#                <li style="margin-top: 3rem;" data-aos="fade-down" data-aos-delay="300">#}
{#                    <span class="round-step-number">1</span>#}
{#                    <span class="step-header">Discover your professional identity</span>#}
{#                    <p class="step-sub-header">Our comprehensive guide will assist you in identifying your strengths and#}
{#                        experiences, to showcase the most relevant aspects of your background.</p>#}
{#                </li>#}
{##}
{#                <li style="margin-top: 3rem;" data-aos="fade-down" data-aos-delay="300">#}
{#                    <span class="round-step-number">2</span>#}
{#                    <span class="step-header">Tailor your content</span>#}
{#                    <p class="step-sub-header">Select from a vast array of pre-written bullet points, organized by job#}
{#                        title, industry, and experience level, to create a resume that is tailored to your specific#}
{#                        needs.</p>#}
{#                </li>#}
{##}
{#                <li style="margin-top: 3rem;" data-aos="fade-down" data-aos-delay="300">#}
{#                    <span class="round-step-number">3</span>#}
{#                    <span class="step-header">Refine your design</span>#}
{#                    <p class="step-sub-header">Enhance the visual appeal of your resume by selecting from a variety of#}
{#                        custom fonts, colors, and sections, to create a truly unique and eye-catching document that#}
{#                        reflects your personal style.</p>#}
{#                </li>#}
{#            </ul>#}
{#            <a href="/resume-builder">#}
{#                <button type="button" class="start_btn">Lets get started</button>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


{#salman html#}


<div class="container-fluid" style="padding: 5rem 0;">
    <div data-aos="zoom-in">
        <h3 class="text-center text-header-1">Effortlessly create a polished and effective resume with<br>minimal steps
        </h3>
    </div>
    <div class="row d-flex justify-content-center" style="margin-top: 5rem;">
        <div class="offset-md-1 col-md-4 d-flex align-items-center" data-aos="zoom-in">
            <img src="{% static '/image/home/landing_image_2.svg' %}" width="80%" height="auto">
        </div>

        <div class="col-md-5" id="li-animation" style="list-style-type: none;">

            <div class="row pb-4" data-aos="fade-down" data-aos-delay="300">
                <div class="col d-flex">
                    <span class="round-step-number" >1</span>
                    <div><p class="step-header">Discover your professional identity</p>
                        <p class="step-sub-header">Our comprehensive guide will assist you in identifying your strengths
                            and
                            experiences, to showcase the most relevant aspects of your background.</p></div>

                </div>

            </div>

            <div class="row pb-4" data-aos="fade-down" data-aos-delay="300">
                <div class="col d-flex">
                    <span class="round-step-number">2</span>
                    <div>
                        <p class="step-header">Tailor your content</p>
                        <p class="step-sub-header">Select from a vast array of pre-written bullet points, organized by
                            job
                            title, industry, and experience level, to create a resume that is tailored to your specific
                            needs.</p>
                    </div>
                </div>


            </div>

            <div class="row pb-4" data-aos="fade-down" data-aos-delay="300">
                <div class="col d-flex">
                    <span class="round-step-number">3</span>
                    <div>
                        <p class="step-header">Refine your design</p>
                        <p class="step-sub-header">Enhance the visual appeal of your resume by selecting from a variety
                            of
                            custom fonts, colors, and sections, to create a truly unique and eye-catching document that
                            reflects your personal style.</p>
                    </div>
                </div>


            </div>

            <a href="/resume-builder">
                <button type="button" class="start_btn">Lets get started</button>
            </a>
        </div>
    </div>
</div>


{#salman html#}


<div class="container-fluid text-center" id="background" style="margin-top: 15rem;">
    <div data-aos="zoom-in">
        <p class="landing-sec-header">Effortlessly Connect with Recruiters</p>
    </div>
    <div data-aos="fade-in-p" data-aos-delay="500">
        <p class="landing-sub-header-1 text-center" style="padding: 0">Unlock the door to your dream career with Find My
            Works! Our platform is the key to bridging the gap between you and potential employers. Say goodbye to the
            job search grind and hello to an effortless, streamlined process. With our user-friendly interface,
            personalized approach, and powerful network of recruiters, you'll be well on your way to securing the job of
            your dreams in no time.
        </p>
        <p class="partner-image">
            <img src="{% static 'image/partner/Vector.svg' %}" alt="">
            <img src="{% static 'image/partner/Vector (1).svg' %}" alt="">
            <img src="{% static 'image/partner/Vector (2).svg' %}" alt="">
            <img src="{% static 'image/partner/Vector (3).svg' %}" alt="">
            <img src="{% static 'image/partner/Vector (4).svg' %}" alt="">
            <img src="{% static 'image/partner/Vector (5).svg' %}" alt="">
            <img src="{% static 'image/partner/Vector (6).svg' %}" alt="">
        </p>
    </div>
</div>

<div class="container-fluid" style="padding: 15rem 0">
    <div data-aos="zoom-in">
        <h3 class="text-center text-header-1">Elevate your job search to new heights</h3>
    </div>
    <div class="row d-flex justify-content-evenly mt-5">
        <div class="offset-md-1 col-md-5 mt-5">
            <ul style="list-style-type: none;">
                <li style="margin-top: 3rem;" data-aos="fade-right" data-aos-delay="400">
                    <p class="step-header-1">Benefit from our expertise</p>
                    <p class="step-sub-header-1">Our ATS-friendly designs guarantee that your resume will pass the
                        initial screening process and reach the human hiring manager, increasing your chances of landing
                        an interview.</p>
                </li>

                <li style="margin-top: 3rem;" data-aos="fade-right" data-aos-delay="500">
                    <p class="step-header-1">Beat the ATS</p>
                    <p class="step-sub-header-1">Applicant Tracking Software is often the first set of “eyes” on your
                        resume. All our designs are tested to ensure you get to the human behind the machine.</p>
                </li>

                <li style="margin-top: 3rem;" data-aos="fade-right" data-aos-delay="600">
                    <p class="step-header-1">Make a lasting impression.</p>
                    <p class="step-sub-header-1">From start to finish, our platform offers the most current tips and
                        guidance for your specific role, industry, and experience level, ensuring that your resume is
                        polished and professional, leaving a lasting impression on potential employers.
                        Don't miss out on this opportunity, register now on Find My Works and elevate your job search to
                        new heights!
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-4 d-flex align-items-center" data-aos="zoom-in">
            <img src="{% static '/image/home/landing_image_3.png' %}" width="90%" height="auto">
        </div>
    </div>
</div>
<div class="container-fluid" style="padding: 15rem 0;background: #FFFFFF">
    <div data-aos="zoom-in">
        <h3 class="text-center text-header-1">Bring your projects to life by securing funds and<br>
            sponsorship opportunities</h3>

        <p class="landing-sub-header-1 text-center" style="padding: 0 10rem;color:#1A1A40BF;margin-top:3rem">Unlock the
            full potential of your projects with Find
            My Works. Our platform is designed to help entrepreneurs like yourself secure the funding and sponsorship
            needed
            to bring your ideas to life. With our user-friendly interface and powerful network of potential sponsors and
            investors, you'll be well on your way to success in no time. Don't miss out on this opportunity, join Find
            My
            Works today and take the first step towards realizing your entrepreneurial dreams!
        </p>
        <p class="partner-image text-center">
            <img src="{% static 'image/partner/image 1.svg' %}" alt="">
            <img src="{% static 'image/partner/image 2.svg' %}" alt="">
            <img src="{% static 'image/partner/image 3.svg' %}" alt="">
            <img src="{% static 'image/partner/image 4.svg' %}" alt="">
            <img src="{% static 'image/partner/image 5.svg' %}" alt="">
            <img src="{% static 'image/partner/image 6.svg' %}" alt="">
            <img src="{% static 'image/partner/image 7.svg' %}" alt="">
        </p></div>
</div>

<div class="container-fluid" style="margin-top: 15rem">
    <div data-aos="zoom-in">
        <h3 class="text-center text-header-1 mb-3">Elevate your projects to the next level</h3>
    </div>
    <div data-aos="fade-in-p" data-aos-delay="500">
        <p class="landing-sub-header-1 text-dark" style="padding: 0 10rem;">Find My Works is the ultimate platform for
            entrepreneurs looking to take their projects to the next level. Showcase your projects to a wider audience
            and secure funding from potential sponsors and investors. Our platform also offers the opportunity to
            connect with potential collaborators and big companies, giving you the resources and support you need to
            bring your ideas to life. Join Find My Works today and unlock the full potential of your projects.</p>
        <p class="text-center pt-4 mb-5">
            <a href="find-project/%20/%20/%20/2023-01-01/2024-01-30/%20/">
                <button type="button" class="explore_btn">Explore more <i
                        class="bi bi-chevron-right"></i></button>
            </a>
        </p>
    </div>
    {% if details is not defined and details|length > 0 %}
        <div class="row d-flex justify-content-evenly mb-5 pt-3" data-aos="fade-up">
            {% if details|length >= 1 %}
                <div class="col-md-3 card card-style" style="padding: 0;">
                    <img style="min-height: 10rem;max-height: 10rem"
                         src="{{ details.0.image.0.image }}"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <a style="text-decoration: none;color: inherit;" href="/project-details/{{ details.0.id }}"><h5
                                class="card-title">{{ details.0.title }}</h5></a>
                        {#                        <p class="card-text">Team members:<img alt="" style="margin-left: 0.5rem;"#}
                        {#                                                               src="{% static '/image/project/member_ 1.svg' %}"><img#}
                        {#                                class="member_2" alt=""#}
                        {#                                src="{% static '/image/project/member_ 2.svg' %}"><img class="member_2" alt=""#}
                        {#                                                                                       src="{% static '/image/project/member_ 3.svg' %}">#}
                        {#                        </p>#}
                    </div>

                    <P class="fund-section-style-1">
                <span><span class="fund-header text-muted">Fund: </span>
                    <b>$<span>{% if details.0.price == null %}0{% else %}
                        {{ details.0.price }}{% endif %}</span></b></span>
                        <a style="text-decoration: none;color: inherit;" href="/project-details/{{ details.0.id }}">
                            <button class="btn spn-btn" type="button"><span class="money-bag"><img alt=""
                                                                                                   src="{% static '/image/Group.svg' %}"></span>Sponsor
                            </button>
                        </a>

                    </P>
                </div>
            {% endif %}
            {% if details|length >= 2 %}

                <div class="col-md-3 card card-style" style="padding: 0;">
                    <img style="min-height: 10rem;max-height: 10rem"
                         src="{{ details.1.image.0.image }}"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <a style="text-decoration: none;color: inherit;" href="/project-details/{{ details.1.id }}"><h5
                                class="card-title">{{ details.1.title }}</h5></a>
                        {#                        <p class="card-text">Team members:<img style="margin-left: 0.5rem;" alt=""#}
                        {#                                                               src="{% static '/image/project/member_ 4.svg' %}"><img#}
                        {#                                class="member_2" alt=""#}
                        {#                                src="{% static '/image/project/member_ 5.svg' %}"><img class="member_2" alt=""#}
                        {#                                                                                       src="{% static '/image/project/member_ 6.svg' %}">#}
                        {#                        </p>#}
                    </div>

                    <P class="fund-section-style-1">
                <span><span class="fund-header text-muted">Fund: </span>
                    <b>$<span>{% if details.1.price == null %}0{% else %}
                        {{ details.1.price }}{% endif %}</span></b></span>
                        <a style="text-decoration: none;color: inherit;" href="/project-details/{{ details.1.id }}">
                            <button class="btn spn-btn" type="button"><span class="money-bag"><img alt=""
                                                                                                   src="{% static '/image/Group.svg' %}"></span>Sponsor
                            </button>
                        </a>

                    </P>
                </div>
            {% endif %}
            {% if details|length >= 3 %}
                <div class="col-md-3 card card-style" style="padding: 0;">
                    <img style="min-height: 10rem;max-height: 10rem"
                         src="{{ details.2.image.0.image }}"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <a style="text-decoration: none;color: inherit;" href="/project-details/{{ details.2.id }}"><h5
                                class="card-title">{{ details.2.title }}</h5></a>
                        {#                        <p class="card-text">Team members:<img style="margin-left: 0.5rem;" alt=""#}
                        {#                                                               src="{% static '/image/project/member_ 7.svg' %}"><img#}
                        {#                                class="member_2" alt=""#}
                        {#                                src="{% static '/image/project/member_ 8.svg' %}"><img class="member_2" alt=""#}
                        {#                                                                                       src="{% static '/image/project/member_ 9.svg' %}">#}
                        {#                        </p>#}
                    </div>

                    <P class="fund-section-style-1">
                <span><span class="fund-header text-muted">Fund: </span>
                    <b>$<span>{% if details.2.price == null %}0{% else %}
                        {{ details.2.price }}{% endif %}</span></b></span>
                        <a style="text-decoration: none;color: inherit;" href="/project-details/{{ details.2.id }}">
                            <button class="btn spn-btn" type="button"><span class="money-bag"><img alt=""
                                                                                                   src="{% static '/image/Group.svg' %}"></span>Sponsor
                            </button>
                        </a>

                    </P>
                </div>
            {% endif %}
        </div>
    {% else %}
        <h6 class="text-center">No Projects to Show</h6>
    {% endif %}
</div>
<!-- Last Section -->
<div class="container-fluid" id="background-1" style="margin-top: 10rem;">
    <h3 class="text-center text-header-1 text-white success-header">Success stories</h3>
    <h4 class="text-center mb-5" style="font-size: 20px;line-height: 30px;color: #FFFFFF;margin-top: -3rem">Discover the
        potential of Find My Works through the success stories of our entrepreneurs.</h4>
    <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">

                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 d-flex align-items-center">
                        <img style="width: 70%;" src="{% static '/image/home/landing_page_stories (1).svg' %}" alt="">
                    </div>
                    <div class="col-md-4 slider_wrapper p-3">
                        <p class="slider_text">I absolutely love this site. It just changed my life. I got lots of
                            experiences from here. This site is very helpful for all students.</p>
                        <ul class="slider_text_name">
                            <li>Eleanor Pena</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="carousel-item">

                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 d-flex align-items-center">
                        <img style="width: 70%;" src="{% static '/image/home/landing_page_stories (2).svg' %}" alt="">
                    </div>
                    <div class="col-md-4 slider_wrapper p-3">
                        <p class="slider_text">I adore this website very much. My life has simply changed as a result.
                            This place gave me a lot of experiences. All students can benefit greatly from this
                            website.</p>
                        <ul class="slider_text_name">
                            <li>Wade Warren</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="carousel-item">

                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 d-flex align-items-center">
                        <img style="width: 70%;" src="{% static '/image/home/landing_page_stories (3).svg' %}">
                    </div>
                    <div class="col-md-4 slider_wrapper p-3">
                        <p class="slider_text">My entire life has been altered by it. I learned a lot from this place.
                            For all pupils, this website is really beneficial.</p>
                        <ul class="slider_text_name">
                            <li>Kristin Watson</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="btn_container d-flex align-items-center">
            <button class="slider_btn" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next"><i
                    class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
</div>

{% include 'footer/footer.html' %}
<!--
It’s pretty cool that we’ve been together for however long we’ve been together. Happy anniversary! -->
