<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_name }}'s Resume</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/navBar.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/css/profile_resume.css' %}" media="all">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static '/image/FMW logo.svg' %}">
    <style>
        body {
            overflow-x: clip;
            font-family: Poppins;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<div class="container-fluid p-5 m-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-3">
            <div id="resume_print_area1">
                <div class="row d-flex justify-content-evenly" style="min-height: 495px;">
                    <div class="col-5">
                        <div class="card resume-card-left h-100">
                            {% load static %}
                            <img id="imageField-1" src="{% if user_resume_details.finalize_related.image %}{{ user_resume_details.finalize_related.image }}{% else %}{% static 'image/imageBox.svg' %}{% endif %}"
                                 class="card-img-top" alt="Your Image" style="max-height: 12rem;min-height: 10rem;">
                            <div class="card-body profile-card-body" style="margin-bottom: -0.5rem;">
                                <h4 class="card-title name">{{ user_resume_details.about_your_self.first_name }} {{ user_resume_details.about_your_self.last_name }}</h4>
                                <p class="text-field-profession profession">{{ user_resume_details.about_your_self.profession }}</p>
                                <p class="text-field-header date">Birth date: <span
                                        class="text-field date_of_birth">{{ user_resume_details.about_your_self.date_of_birth }}</span></p>
                                <p class="text-field-header">Number: <span
                                        class="text-field phone">{{ user_resume_details.about_your_self.phone_number }}</span>
                                </p>
                                <p class="text-field-header">Email: <span
                                        class="text-field email">{{ user_resume_details.about_your_self.email }}</span>
                                </p>
                                <p class="text-field-header">Address: <span
                                        class="text-field address">{{ user_resume_details.about_your_self.address }}</span></p>
                            </div>

                        </div>
                    </div>

                    <div class="col-6 right-column">
                        <div class="card resume-card-right h-100">
                            <div class="card-body profile-card-body h-100 right-column">
                                <hr class="horizontal-line">
                                <p class="card-title-right">About me</p>
                                <hr class="horizontal-line">
                                <p class="content bio">{{ user_resume_details.about_your_self.bio }}</p>
                            </div>
                            {#Education Goes Here#}
                            <div class="card-body profile-card-body h-100 right-column">
                                <hr class="horizontal-line">
                                <h4 class="card-title-right">Education</h4>
                                <hr class="horizontal-line">
                                {% for data in user_resume_details.educational_institute_response %}
                                    <p class="bold-sub myMargin" style="margin-bottom: 0.5rem;">
                                        <b>
                                            <span id="degree">{{ data.concentration }}</span>
                                            <span> : </span>
                                            <span class="major">{{ data.major }}</span>
                                            <span class="content"> ( </span>
                                            <span class="content study_start_date">{{ data.start_date }}</span>
                                            <span class="content"> - </span>
                                            <span class="content study_end_date"
                                                  id="st_end_date">{% if data.end_date == None %}Present{% else %}
                                                {{ data.end_date }}{% endif %}</span>
                                            <span class="content"> )</span>
                                        </b>
                                    </p>
                                    <p class="content myMargin">
                                        <span>Result: </span>
                                        <span class="result">{{ data.result }}</span>
                                    </p>
                                    <p class="content myMargin Institute_name">{{ data.institute.name }}</p>
                                    <p class="content myMargin Institute_Address">{{ data.address }}</p>
                                    <ul class="list-header curriculam-list mt-2" id="curriculam-area">
                                        {% for activity in data.extra_activities %}
                                            <li>{{ activity }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>
                            {#Education End#}

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h5 class="text-center" style="border-bottom-left-radius: 0.25rem;">First Page</h5>
        </div>
        <div class="col-md-4">
            <div id="resume_print_area2">
                <div class="row d-flex justify-content-evenly" style="min-height: 495px;">
                    <div class="col-5">
                        <div class="card resume-card-left h-100">
                            {% load static %}
                            <div class="card-body profile-card-body h-100">
                                <p class="text-field-header">Skills</p>
                                <ul class="list-header sub-list" id="skill-area">
                                    <!-- Skill Goes Here -->
                                    {% for data in user_resume_details.skills_response %}
                                        <li>{{ data.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- Custom Section Goes Here -->
                            {% for data in user_resume_details.other_related_information_response.other_skills %}
                                <div class="card-body profile-card-body h-100" style="padding-bottom: 0">
                                <span>
                                    <hr class="horizontal-line">
                                </span>
                                    <h4 class="card-title-right text-white">{{ data.name }}</h4>
                                    <span>
                                    <hr class="horizontal-line">
                                </span>
                                    {% for value in data.values %}
                                        <p class="content proj-description"
                                           style="margin-top: -0.25rem;color: #FFFFFF;opacity: 100%;">{{ value }}
                                        </p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <!--                            Custom section end-->
                            <div class="card-footer m-auto">
                                <p class="text-field-header text-center">Social media</p>
                                <p style="margin:0 0 0 1.5rem"><a id="fblinkhere"
                                                                  href="{{ resume_related_info.social_links.0.twitter }}"><img
                                        class="sm-icon"
                                        src="{% static '/image/Facebook.svg' %}"
                                        width="25%"
                                        height="auto"></a>
                                    <a id="ldlinkhere" href="{{ resume_related_info.social_links.0.facebook }}"><img
                                            class="sm-icon"
                                            src="{% static '/image/Linkedin.svg' %}"
                                            width="25%" height="auto"></a>
                                    <a id="twlinkhere" href="{{ resume_related_info.social_links.0.linkedin }}"><img
                                            class="sm-icon"
                                            src="{% static '/image/Twitter.svg' %}"
                                            width="25%" height="auto"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Project Section -->
                    <div class="col-6 right-column">
                        <div class="card resume-card-right h-100" id="flex_div">

                            <div class="card-body profile-card-body h-100 right-column">
                                <hr class="horizontal-line">
                                <h4 class="card-title-right">Work History</h4>
                                <hr class="horizontal-line">
                                {% for data in user_resume_details.professional_institute_response %}
                                    <p class="bold-sub">
                                        <b class="designation">{{ data.designation }}</b>
                                        <span class="content">( </span>
                                        <span class="content company_start_date">{{ data.start_date }}</span>
                                        <span class="content"> - </span>
                                        <span class="content company_end_date"
                                              id="jb_end_date">{% if data.end_date == None %}Present{% else %}
                                            {{ data.end_date }}{% endif %}</span>
                                        <span class="content">)</span>
                                    </p>
                                    <p class="content" style="margin-top: -1rem;">
                                        <span class="company">{{ data.name }}</span>,
                                        <span class="city_country">{{ data.city }} {{ data.country }}</span>
                                    </p>
                                    <ul class="list-header curriculam-list" id="responsibility-area"
                                        style="margin-top: -0.5rem;">
                                        {% for responsibility in data.responsibility %}
                                            <li>{{ responsibility }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>

                            <div class="card-body profile-card-body h-100 right-column">
                            <span>
                                <hr class="horizontal-line">
                            </span>
                                <h4 class="card-title-right">Achievements</h4>
                                <span>
                                <hr class="horizontal-line">
                            </span>
                                {% for data in user_resume_details.achievements_response %}
                                    <p class="data-in-project">
                                        <span class="proj-title" style="font-size: 0.8rem;">{{ data.title }}</span>
                                        <b>
                                            <span class="content"> ( </span>
                                            <span class="content proj-start-date">{{ data.start_date }}</span>
                                            <span class="content"> - </span>
                                            <span class="content project-end-date"
                                                  id="proj-end-date">{% if data.end_date == None %}Present{% else %}
                                                {{ data.end_date }}{% endif %}</span>
                                            <span class="content"> )</span>
                                        </b>
                                    </p>
                                    <p class="content" style="margin-top:-1rem;">
                                        <span id="proj-link">Link:</span>
                                        <a id="proj-link-here" href="">{{ data.links.0 }}</a>
                                    </p>
                                    <p class="content proj-description"
                                       style="margin-top: -0.25rem;">{{ data.description }}</p>
                                {% endfor %}
                                <div id="project-area">

                                </div>
                            </div>
                            <!--                            Project page end-->


                        </div>
                    </div>
                    <!-- Project Section -->
                </div>
            </div>
            <br>
            <h5 class="text-center" style="border-bottom-right-radius: 0.25rem;">Second Page</h5>
        </div>
    </div>
</div>
</body>
</html>
