<!-- {% load static %}
<div class="row d-flex justify-content-evenly mt-5 text-center">
    <div class="col-md-2 border-style-2" id="baksh">
        <img src="{% static '/image/visa.png' %}" width="100%"><br>
    </div>
    <div class="col-md-2 border-style-2" id="nagad">
        <img src="{% static '/image/amex.png' %}" width="100%"><br>
    </div>
    <div class="col-md-2 border-style-2" id="rocket">
        <img src="{% static '/image/dbbl.png' %}" width="100%"><br>
    </div>
    <div class="col-md-2 border-style-2" id="upay">
        <img src="{% static '/image/mc.png' %}" width="100%"><br>
    </div>
</div> -->