{% load static %}
<div class="row d-flex justify-content-evenly mt-5 text-center">
    <div class="col-md-2 border-style-1" id="baksh">
        <img src="{% static '/image/bkash.svg' %}" width="90%"><br>
    </div>
    <div class="col-md-2 border-style-1" id="nagad">
        <img src="{% static '/image/nagad.svg' %}" width="90%"><br>
    </div>
    <div class="col-md-2 border-style-1" id="rocket">
        <img src="{% static '/image/rocket.svg' %}" width="80%"><br>
    </div>
    <div class="col-md-2 border-style-1" id="upay">
        <img src="{% static '/image/upay.svg' %}" width="70%"><br>
    </div>
</div>