<div class="col-xxl-12" id="progess_bar_topView" style="margin: -3rem 0 5rem 0;display: none;">
    <ul class="progressbar-1">
        <li class="mStep active-1"><span>Basic</span></li>
        <li class="mStep"><span>Education</span></li>
        <li class="mStep"><span>Experience</span></li>
        <li class="mStep"><span>Skills</span></li>
        <li class="mStep"><span>Achievements</span></li>
        <li class="mStep"><span>Other</span></li>
        <li class="mStep"><span>Finalize</span></li>
    </ul>
</div>
