<div class="p-3">
    <label class="form-label skill_label">Secondary School Certificate</label>
    <label class="form-label verify"><span class="verfied_icon"></span>Verified</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter your registration no." value="1209807835" disabled>
        <button type="button" class="quiz_btn" style="opacity: 50%;" disabled>Verify</button>
    </div>

    <label class="form-label skill_label">Higher School Certificate</label>
    <label class="form-label verify"><span class="not_verfied_icon"></span>Not Verified</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter your registration no." value="">
        <button type="button" class="quiz_btn">Verify</button>
    </div>
</div>