{% load static %}
<div class="footer-content" style="margin-top: 5rem ;font-size: 1rem;">
    <div data-aos="test-anim"></div>
    <div class="row d-flex justify-content-center">

        <div class="col-md-10 card Sub_card" data-aos="zoom-in" data-aos-delay="400"
             style="margin-top: 6rem;padding:5rem;">
            <div class="row d-flex justify-content-evenly">
                <div class="col-lg-5 text-center">
                    <p class="subscribe_header" style="padding-top: 1rem;">Subscribe Newsletters</p>
                </div>

                <div class="col-lg-7 d-flex justify-content-center " style="align-items: center;">
                    <div class="row">
                        <div class="col-8" style="margin-right: 2rem;">
                            <input style="height: 2.8125rem;width: 30rem;" class="form-control"
                                   placeholder="Enter your email">
                        </div>
                        <div class="col-3">
                            <button type="button" class="subs_btn">Subscribe now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 pt-5" style="margin-top: 3rem;font-weight: 600">
            <ul class="footer-list">
                <li><a style="all: unset; cursor: pointer;" href="/resume-builder">Resume Builder</a></li>
                <li><a style="all: unset; cursor: pointer;" href="/ranking">Ranking</a></li>
                <li><a style="all: unset; cursor: pointer;" href="/find-talent/%20/%20/">Talent hunting</a></li>
                <li><a style="all: unset; cursor: pointer;" href="#">Get Sponsors</a></li>
                <li><a style="all: unset; cursor: pointer;" href="#">Find Collaborators</a></li>
                <li class="li-item"><a target="_blank" href="https://www.instagram.com/findmyworks"><img
                        src="{% static '/image/footer/Gram.svg' %}"></a></li>
                <li class="li-item"><a target="_blank" href="https://www.twitter.com/findmyworks"><img
                        src="{% static '/image/footer/twitter-black.svg' %}"></a></li>
                <li class="li-item"><a target="_blank" href="https://www.facebook.com/findmyworks"><img
                        src="{% static '/image/footer/FB.svg' %}"></a></li>
                <li class="li-item"><a target="_blank" href="https://www.youtube.com/findmyworks"><img
                        src="{% static '/image/footer/youtube-black.svg' %}"></a></li>
                <li class="li-item"><a target="_blank" href="https://www.linkedin.com/findmyworks"><img
                        src="{% static '/image/footer/in.svg' %}"></a></li>
            </ul>
        </div>

{#        <div class="col-md-10" style="margin-top: 2rem;">#}
{#            <div class="row d-flex justify-content-evenly" style="margin: 0 2rem;">#}
{#                <div class="col-md-5">#}
{#                    <ul class="footer-list" style="border: none;margin-left: -0.7rem;font-weight: 600">#}
{#                        <li><a href="/terms-service" style="all: unset; cursor: pointer;">Terms of Service</a></li>#}
{#                        <li><a href="/privacy-policy" style="all: unset; cursor: pointer;">Privacy Policy</a></li>#}
{#                        <li><a href="/cookies" style="all: unset; cursor: pointer;">Cookies Policy</a></li>#}
{#                    </ul>#}
{#                    <ul class="footer-list" style="border: none;margin-top: -3rem;margin-left: -0.7rem;">#}
{#                        <li>© 2023 findmyworks | All rights reserved.</li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-md-4 d-flex align-items-center" style="margin-right: -4rem">#}
{#                    <p class="brand-logo_footer">FindMyWorks</p>#}
{#                </div>#}
{#                <div class="col-md-3" style="display: flex;align-items: center;">#}
{#                    <p>Proudly developed by <a href="https://incrementsinc.com/"#}
{#                                               style="all: unset;cursor:pointer;margin-right: 1.5rem;"><b>Increments#}
{#                        Inc.</b></a></p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}


        <div class="col-10 pt-5 pb-5 bottom-bar">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <ul class="footer-list-2" style="padding-left: 0;">
                        <li><a href="/terms-service" style="all: unset; cursor: pointer;">Terms of Service</a></li>
                        <li><a href="/privacy-policy" style="all: unset; cursor: pointer;">Privacy Policy</a></li>
                        <li><a href="/cookies" style="all: unset; cursor: pointer;">Cookies Policy</a></li>
                    </ul>
                    <p>© 2023 findmyworks | All rights reserved.</p>
                </div>

                <div class="col">
                    <p class="brand-logo_footer">FindMyWorks</p>
                </div>

                <div class="col text-end">
                    <p>Proudly designed and developed by <a href="https://incrementsinc.com/"
                                               style="all: unset;cursor:pointer;"><b>Increments
                        Inc.</b></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
